.chessboard {
    width: 400px;
    height: 400px;
    border: 2px solid #333;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    user-select: none;
}

#main {
    margin: 0 auto;
    width: min-content;
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.square.flipped-tile {
    transform: rotate(180deg);
}

.square *,
.prizeItem * {
    width: 100%;
    height: 100%;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.chessboard.flipped-board {
    transform: rotate(180deg);

}

header {
    display: flex;
    margin-bottom: 10px;
    background-color: bisque;
    column-gap: 1rem;
    padding: 0 1rem;
    align-items: start;
    flex-wrap: wrap;
    overflow: hidden;
    width: calc(100% - 2rem);
}

.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border: #333 2px solid;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
    user-select: none;
}

.headerBox button {
    background-color: rgb(70, 70, 70);
    color: rgb(255, 153, 0);
    font-weight: bold;
    font-size: large;
}

.symbol {
    width: 30px;
    height: 30px;
}

.last-move {
    position: relative;
}

.last-move::before {
    content: "";
    position: absolute;
    background-color: rgba(238, 255, 0, 0.219);
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.legal-move {
    position: relative;
}

.legal-move::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: rgba(48, 48, 48, 0.5);
    border-radius: 100%;
    width: 50%;
    height: 50%;
    pointer-events: none;
    filter: saturate(1)
}

.attack-move {
    position: relative;
}

.attack-move::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 50%, rgba(48, 48, 48, 0.5) 50%);
    border-radius: 100%;
    pointer-events: none;
}


.mergeable::after {
    background-color: rgba(204, 0, 255, 0.5);
}

.carry-move::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: rgba(0, 255, 157, 0.322) 8px solid;
    border-radius: 0;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    pointer-events: none;
    filter: saturate(1);
    background: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    display: flex;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0px 12px 15px 10px rgba(0, 0, 0, .1);
}

.box.shaking {
    animation: shake 1s cubic-bezier(.3, .06, .2, .9) infinite;

}

.box.open {
    animation: none;
}

.box:hover {
    box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, .5);
    animation: shake 1s cubic-bezier(.3, .06, .2, .9) infinite;
}

#lootbox {
    width: 200px;
    height: 200px;
    box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, .5);

}

#lootbox .upper {
    border-bottom: 10px solid #585757;
}

.box.open .upper {
    transform: rotateX(-180deg);
}

.upper {
    width: 100%;
    flex: 1;
    background-color: #fdfdfd;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    transition: transform 0.5s ease;
    border-bottom: 5px solid #585757;
    transform-origin: top;
}

.lower {
    width: 100%;
    flex: 1;
    background-color: orange;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.latch {
    position: absolute;
    width: 10%;
    height: 15%;
    background-color: #585757;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -10%);
}

.prize {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.prizeItem {
    width: 100%;
    height: 100%;
    font-size: 100px;
}

.spinning-stripes {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid;
    border-color: #ff0000 #00ff00 #0000ff #ffff00;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, -1px, 0) rotate(5deg);
    }

    20%,
    80% {
        transform: translate3d(2px, -4px, 0) rotate(-2deg);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, -1px, 0) rotate(3deg);
    }

    40%,
    60% {
        transform: translate3d(4px, 2px, 0) rotate(-4deg);
    }
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    font-family: 'Arial', sans-serif;
    max-width: 300px;
    width: 90%;
}

.popup h2 {
    color: #e74c3c;
    margin-top: 0;
}

.popup p {
    margin-bottom: 20px;
}

.popup button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup button:hover {
    background-color: #2980b9;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #7f8c8d;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.close-button:hover {
    color: #34495e;
}

.pointer {
    cursor: pointer;
}

.player-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 60px;
    border: 2px solid #333;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px auto;
    background-color: #e0e0e0;
}

.player {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
}

.player.white {
    background-color: #f0d9b5;
    color: #333;
}

.player.black {
    background-color: #b58863;
    color: #f0d9b5;
}

.player.active {
    transform: scale(1.1);
    z-index: 1;
}

.player.white.active {
    box-shadow: 0 0 15px rgba(34, 166, 242, 0.925), inset 0 0 20px rgba(34, 166, 242, 0.925);
    background-color: #fff;
}

.player.black.active {
    box-shadow: 0 0 15px rgba(150, 0, 130, 0.925), inset 0 0 20px rgba(150, 0, 130, 0.925);
    background-color: #000;
}

.player::after {
    content: '';
    position: absolute;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.player.active::after {
    opacity: 1;
}

.player.white.active::after {
    right: 5px;
    background-color: rgba(34, 166, 242, 0.925);
}

.player.black.active::after {
    left: 5px;
    background-color: rgba(150, 0, 130, 0.925);
}

/* mobile */

@media (max-width: 700px) {

    #title {
        display: none;
    }
}

#infoBox {
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 15px;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 20px auto;
    transition: all 0.3s ease;
}

#infoBox:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#infoBox h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-transform: capitalize;
    border-bottom: 2px solid #b58863;
    padding-bottom: 5px;
}

.carrying-piece {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.carrying-piece img {
    margin-top: -5px;
    margin-bottom: -5px;
    width: 35px;
    height: 35px;
    overflow: visible;
}

.imageDisplay {
    width: 60px;
    height: 60px;
}

#infoBox p {
    margin: 5px 0;
    color: #555;
    font-size: 0.9em;
}

#infoBox p:last-child {
    margin-bottom: 0;
}

@media (max-width: 700px) {
    #infoBox {
        max-width: 90%;
    }
}

#winConditionBox {
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 20px auto;
    font-size: 12px;
}

.player-section {
    margin-bottom: 10px;
}

.player-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    border-bottom: 2px solid #b58863;
    padding-bottom: 3px;
}

.condition-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.piece-progress {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.progress-bar {
    flex-grow: 1;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

.progress-white {
    background-color: #4CAF50;
}

.progress-black {
    background-color: #2196F3;
}

.progress-text {
    margin-left: 5px;
    font-size: 11px;
    color: #555;
}

.winConditionIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.winConditionIcon img {
    width: 100%;
    height: 100%;
}

.inventory {
    width: 351px;
    background: #c6c6c6;
    border-radius: 3px;
    box-shadow: 5px 5px 0px #555555, inset 4px 4px 0px #fefefe;
    padding: 5px;
    margin: 10px;
}

h2 {
    margin: 5px 10px;
    font-size: 24px;
    color: #404040;
}

.slot-container {
    display: flex;
    flex-wrap: wrap;
}

.slot {
    width: 35px;
    height: 35px;
    background: #8b8b8b;
    box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8),
        inset -2px -2px 0px #ffffff;
    margin: 2px;
    position: relative;
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    max-width: 80%;
    max-height: 80%;
}

.item-count {
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 0px #000;
}

#craftingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.crafting-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
}

.crafting-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.crafting-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.crafting-item,
.crafting-disclaimer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.crafting-disclaimer {
    font-size: 18px;
    color: #922424;
    cursor: not-allowed;
}

.crafting-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.crafting-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.crafting-item-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.crafting-item-ingredients {
    font-size: 12px;
    color: #666;
}

#closeCrafting {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.flex-header img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}